<extend name="Public:base" />
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PMS</title>
	<link href="/Public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/Public/css/pms.css" rel="stylesheet">
<block name="head">
<style>
form{
	margin: 50px 0;
	font:15px bold "黑体";
}
button{
	font-size: 17px !important;
	font-weight: 900 !important;
	margin: 0 10%;
	width: 80%;
}
table{
	margin: auto;
	width: 90% !important;
}
#pager{
	cursor: pointer;
}
tr{
	cursor: pointer;
}
</style>
</block>
</head>
<body>
<div class="container">

<block name="content">
<div class="content-min-height">
	<form class="form-horizontal" id="searchForm" action="" method="get"> 
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">

				<div class="form-group">
				<lable class="col-sm-4 col-md-3 control-label" for="name">姓 名</lable>
					<div class="col-sm-8 col-md-9">
							<input type="text" class="form-control" name="name" id="name" placeholder="输入名字或名字中几个字" />
					</div>
				</div>

				<div class="form-group">
					<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="birthday">出生年份</lable>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<select name="birthdayB" id="birthdayB" class="form-control">
							<option>   </option>
							<option value="eq"> = </option>
							<option value="lt"> &lt; </option>
							<option value="gt"> &gt; </option>
							<option value="elt"> &le; </option>
							<option value="egt"> &ge; </option>
							<option value="neq"> &ne; </option>
						</select>
					</div>
					<div class="col-xs-8 col-sm-4 col-md-6">
							<input type="date" class="form-control" name="birthday" id="birthday" placeholder="如1975-05-30" />
					</div>
				</div>

				<div class="form-group">
				<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="workdate" title="参加工作日期">参工日期</lable>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<select name="workdateB" id="workdateB" class="form-control">
							<option></option>
							<option value="eq"> = </option>
							<option value="lt"> &lt; </option>
							<option value="gt"> &gt; </option>
							<option value="elt"> &le; </option>
							<option value="egt"> &ge; </option>
							<option value="neq"> &ne; </option>
						</select>
					</div>
					<div class="col-xs-8 col-sm-4 col-md-6">
							<input type="date" class="form-control" name="workdate" id="workdate" placeholder="如1975-05-30" />
					</div>
				</div>
			</div> <!-- /col-sm-4 -->

			<div class="col-sm-5">

				<div class="form-group">
					<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="postLevel">职务级别</lable>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<select name="postLevelB" id="postLevelB" class="form-control">
							<option> </option>
							<option value="eq"> = </option>
							<option value="lt"> &lt; </option>
							<option value="gt"> &gt; </option>
							<option value="elt"> &le; </option>
							<option value="egt"> &ge; </option>
							<option value="neq"> &ne; </option>
						</select>
					</div>
					<div class="col-xs-8 col-sm-4 col-md-6">
						<select name="postLevel" id="postLevel" class="form-control">
							<option></option>
							<option value="1">副科级</option>
							<option value="2">正科级</option>
							<option value="3">副总级</option>
							<option value="4">副处级</option>
							<option value="5">正处级</option>
						</select>
					</div>
				</div> <!-- /form-group -->

				<div class="form-group">
					<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="title">职称级别</lable>
					<div class="col-xs-4 col-sm-4 col-md-3">
							<select name="titleLevelB" id="titleLevelB" class="form-control">
								<option></option>
								<option value="eq"> = </option>
								<option value="lt"> &lt; </option>
								<option value="gt"> &gt; </option>
								<option value="elt"> &le; </option>
								<option value="egt"> &ge; </option>
								<option value="neq"> &ne; </option>
							</select>
						</div>
						<div class="col-xs-8 col-sm-4 col-md-6">
							<select name="titleLevel" id="titleLevel" class="form-control">
								<option></option>
								<option value="1">员级</option>
								<option value="2">助理级</option>
								<option value="3">中级</option>
								<option value="4">副高级级</option>
								<option value="5">教授级级</option>
							</select>
						</div>
				</div> <!-- /form-group -->

				<div class="form-group">
				<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="edu">学历层次</lable>
					<div class="col-xs-4 col-sm-4  col-md-3">
							<select name="eduLevelB" id="eduLevelB" class="form-control">
								<option></option>
								<option value="eq"> = </option>
								<option value="lt"> &lt; </option>
								<option value="gt"> &gt; </option>
								<option value="elt"> &le; </option>
								<option value="egt"> &ge; </option>
								<option value="neq"> &ne; </option>
							</select>
						</div>
						<div class="col-xs-8 col-sm-4 col-md-6">
							<select name="eduLevel" id="eduLevel" class="form-control">
								<option></option>
								<option value="0">初中及以下</option>
								<option value="1">高中</option>
								<option value="2">技校</option>
								<option value="3">中专</option>
								<option value="4">大专</option>
								<option value="5">本科</option>
								<option value="6">研究生</option>
								<option value="7">博士</option>
							</select>
						</div>
				</div><!-- /form-group -->		
			</div> <!-- /col-sm-5 -->
		<div class="col-sm-1"></div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="form-group">
					<lable class="col-xs-4 col-sm-4  col-md-3 control-label" for="sex">性别</lable>

					<div class="col-xs-8 col-sm-8  col-md-9 btn-group" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="sex" value="1" id="sex-m" />男性
						</label>
						<label class="btn btn-default">
							<input type="radio" name="sex" value="0" id="sex-f" />女性
						</label>
						<label class="btn btn-default active">
							<input type="radio" name="sex" value="all" id="sex"  checked="checked"/>全部
						</label>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group">
				<lable class="col-xs-12 col-sm-4  col-md-3 control-label" for="postType">任职类型</lable>
					<div class="col-xs-12 col-sm-8 col-md-9">
							<select name="postType" id="postType" class="form-control">
								<option></option>
								<option value="0">常规</option>
								<option value="1">高级别低职务</option>
								<option value="-1">虚职</option>
							</select>
						</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-12">
				<button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> 筛选人员 </button>
			</div>
				
					
				
		</div> <!-- /row -->
		<input type="hidden" name="page" id="page" value="{$page|default='1'}">
	</form>

	<table class="table table-striped table-hover hidden">
	<caption><h3 id="pListTitle">搜索结果 <small id="subTitle"> 共找到 {$resultCount|default="0"} 人复合条件.</small></h4></caption>
	<thead>
	  <tr>
	    <th scope="row">#</th>
	    <th>姓名</th>
	    <th>性别</th>
	    <th>出生年月</th>
	    <th>参加工作时间</th>
	    <th>职务</th>
	    <th>职务级别</th>
	  </tr>

	</thead>

	<tbody id="pList">
	<!-- 人员列表区域 -->
	<foreach name="result" item="val" key="key">
	  <tr id="{$val['pid']}">
	    <th scope="row">{$val["no"]}</th>
	    <td>{$val["name"]}</td>
	    <td>{$val["sex"]}</td>
	    <td>{$val["birthday"]}</td>
	    <td>{$val["date_start_work"]}</td>
	    <td>{$val["post"]}</td>
	    <td>{$val["post_level"]}</td>
	  </tr>
	</foreach>
	</tbody>

</table>
	<div class="row">
		<div class="col-sm-10">
			<nav class="pull-right">
		  <ul class="pagination" id="pager">
		    <li id="pre">
		      <a aria-label="上一页">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <!-- 页码排列位置 -->
		    <li id="next">
		      <a aria-label="下一页">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>


</div> <!-- /content-min-height -->

</block>
</div><!--/container-->
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>

<block name="end">
<script>
nowPage     = {$page|default="1"};
resultCount = {$resultCount|default=0};
perPage     = {$perPage|default=15};;
map         = {$map|default="''"};

$("document").ready(function(){
  initial();
})

function initial(){
  $("#navbar li#search").addClass("active");
  if(resultCount >=0 ) {
  	makePager("#pager", nowPage, resultCount, perPage, goPage, null);
	  $("tr").click(function(){
	  	alert($(this).attr("id"));
	  })
	}

  if(map != "") $("table").removeClass("hidden");
  setChecked();
}
</script>
<script src="/Public/js/pms_pager.js"></script>
<script src="/Public/js/pms_search.js"></script>

</block>
</body>	
</html>