<extend name="Public:base" />
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <block name="head">
		<style>
		.summary{
			
			margin: auto;
			color:#5D5D5D;
			text-align: center !important;
		}
    .table{
      margin: 20px 0;
    }
		.table caption{
			text-align: right;
			font:3em "黑体";
			margin: 0 0 30px 60px;
		}
		.table thead{
			font-size:16px;
		}
		.table td{
      font-size:18px;
			padding:20px 0 !important;
		}
		.table th{
			text-align: center;
			vertical-align: middle !important;
		}
    .zero:after{
      content: "0";
      color:#D2D2D2;
    }
		</style>
  </block>
	</head>
<body>
<div class="container">
<block name="content">
<div class="content-min-height">

<div class="page-header summary-title">学历信息总览</div>

<div class="table-responsive summary">
	<table class="table table-hover">
      <thead>
        <tr>
          <th>级别</th>
          <th>研究生</th>
          <th>本科</th>
          <th>大专</th>
          <th>中专</th>
          <th>技校</th>
          <th>高中</th>
          <th>初中及以下</th>
          <th>总计</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">正处级</td>
          <td>{$data['正处级']['研究生']}</td>
          <td>{$data['正处级']['本科']}</td>
          <td>{$data['正处级']['大专']}</td>
          <td>{$data['正处级']['中专']}</td>
          <td>{$data['正处级']['技校']}</td>
          <td>{$data['正处级']['高中']}</td>
          <td>{$data['正处级']['初中及以下']}</td>
          <td>{$data['正处级']['总计']}</td>
        </tr>

        <tr>
          <th scope="row">副处级</td>
          <td>{$data['副处级']['研究生']}</td>
          <td>{$data['副处级']['本科']}</td>
          <td>{$data['副处级']['大专']}</td>
          <td>{$data['副处级']['中专']}</td>
          <td>{$data['副处级']['技校']}</td>
          <td>{$data['副处级']['高中']}</td>
          <td>{$data['副处级']['初中及以下']}</td>
          <td>{$data['副处级']['总计']}</td>
        </tr>

        <tr>
          <th scope="row">副总级</td>
          <td>{$data['副总级']['研究生']}</td>
          <td>{$data['副总级']['本科']}</td>
          <td>{$data['副总级']['大专']}</td>
          <td>{$data['副总级']['中专']}</td>
          <td>{$data['副总级']['技校']}</td>
          <td>{$data['副总级']['高中']}</td>
          <td>{$data['副总级']['初中及以下']}</td>
          <td>{$data['副总级']['总计']}</td>
        </tr>

        <tr>
          <th scope="row">正科级</td>
          <td>{$data['正科级']['研究生']}</td>
          <td>{$data['正科级']['本科']}</td>
          <td>{$data['正科级']['大专']}</td>
          <td>{$data['正科级']['中专']}</td>
          <td>{$data['正科级']['技校']}</td>
          <td>{$data['正科级']['高中']}</td>
          <td>{$data['正科级']['初中及以下']}</td>
          <td>{$data['正科级']['总计']}</td>
        </tr>

        <tr>
          <th scope="row">副科级</td>
          <td>{$data['副科级']['研究生']}</td>
          <td>{$data['副科级']['本科']}</td>
          <td>{$data['副科级']['大专']}</td>
          <td>{$data['副科级']['中专']}</td>
          <td>{$data['副科级']['技校']}</td>
          <td>{$data['副科级']['高中']}</td>
          <td>{$data['副科级']['初中及以下']}</td>
          <td>{$data['副科级']['总计']}</td>
        </tr>
      </tbody>
    </table>
</div>

<!-- /div container-fluid -->
</div> <!-- /content-min-height -->
</block> <!-- /content block -->
</div><!-- /div container -->

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<block name="end">
  <script>
  $("document").ready(function(){
    initial();
  })
  function initial(){
    $("#navbar li#education").addClass("active");
    $("td:empty").addClass("zero");
  }
</script>
</block>
</body>
</html>