body{
  background-image:url('../image/top_bg.jpg');
  background-repeat: repeat-x;
}
a:link{
  color: #3c3c3c
}
a:visited{
  color: #3c3c3c;
}
.nav .active a{
  font-weight: 700;
  color:#fff !important;
  background-color: #888888 !important;
}
.content-min-height{
  min-height: 500px;
}

@keyframes loading
{
  from {transform: rotate(359deg);}
  to {transform: rotate(1deg);}
}
@-moz-keyframes loading /* Firefox */
{
  from {transform: rotate(359deg);}
  to {transform: rotate(1deg);}
}

@-webkit-keyframes loading /* Safari 和 Chrome */
{
  from {transform: rotate(359deg);}
  to {transform: rotate(1deg);}
}

@-o-keyframes loading /* Opera */
{
  from {transform: rotate(359deg);}
  to {transform: rotate(1deg);}
}

.loading{
  display: block;
  z-index: 9;
  position: fixed;
  left:2px;
  top:2px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url("/Public/image/loading_m.png") no-repeat;
}

.loading .m{
  content: url("/Public/image/loading.png");
        animation:loading 3s linear infinite;
-webkit-animation:loading 3s linear infinite;
}

.top-status{
  margin: 0;
  padding: 0;
  text-align: right;
}
.top-status .status-bar{
  display: inline-block;
  padding:2px 10px;  
  position: relative; 
  right: 15px; 
  top: 5px;
  height: 30px;
  border: 1px solid gray; 
  border-radius: 5px;
  background: #B2B2B2;
  color:#3c3c3c;
}
.top-status .logo{
  display: inline-block;
  position: relative;
  top:4px;
  margin: 0 15px 0 0;
  width: 30px;
  height: 18px;
  background: url('../image/status_logo.png') no-repeat;
}

.top-search {
  padding: 20px;
  height: 80px;
  text-align: center;
}
.top-search input{/*搜索框样式*/
  display: inline;
  width: 450px;
  border-radius:10px;
}
@media (max-width: 767px) {/*小窗口时搜索框自动宽度*/
  .top-search input {
    width: 100% !important;
  }
}
.top-search input:hover{
  box-shadow: 0 0 10px #A9A8A8;
}

.navbar-header .logo{
  float: left;
  position: relative;
  top:6px;
  width: 122px;
  height: 38px;
  background: url('../image/nav_logo.png') no-repeat;
}
.navbar-header .brand{
  float: left;
  padding: 18px 0 0 10px;
  color:#898989;
  font-size: 10px;
  text-transform: uppercase;
}
.footer{
  width: 100%;
  height: 60px;
  background: #6b6b6b;
}
.footer .footer-bar{
  color:#D8D8D8;
  padding: 0;
  vertical-align: middle;
}
.footer .logo{
  display: inline-block;
  position: relative;
  top:12px;
  width: 93px;
  height: 37px;
  margin: 0 20px;
  background:url('../image/footer_logo.png') no-repeat;
}
/*.summary-graph{
  display: block;
  width: 365px;
  height: 184px;
  background: url('../image/summary_graph.png') no-repeat;
}*/
.summary-title{
  padding: 30px;
  text-align: left;
  font-size: 40px;  
  color: #828282;
}
.title-row{
  margin: 30px 0;
}
.summary{
  padding: 0 40px;
  margin: 50px 0;
}
.summary .col-md-12{/*统计表格中有内容单元*/
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
  color: #868686;
}
.summary-header{/*统计表格中表头*/
  padding: 15px 0 !important;
  border-bottom: 1px solid #B8B8B8;
  font-weight: 800;
  font-family: '黑体';
}
.list-group .active{
  background-color: #888888;
  border-color: #707070;
}
.list-group .active:hover{
  background-color: #707070;
  border-color: #606060;
}
.list-group .active:focus{
  background-color: #888888;
  border-color: #606060;
}

/* 部门选择器用样式 */
.dmSelector{
  margin: 40px;
  list-style-type : none;
}
.dmSelector li{
  list-style-type : none;
}
.dmSelector ul{
  padding:0 25px;
}
.dmSelector li+ul{
  background:url("/Public/image/tree.png") repeat-y;
  background-position: -39px;
}
.dmSelector li>i{
  display: inline-block;
  margin: 0 4px;
  width: 16px;
  height: 16px;
  background:url("/Public/image/tree.png") no-repeat;
  background-position: 0 -74px;
}

.dmSelector ul > li:last-child > ul{
  background:none;
}

.dmSelector ul > li:last-child > i{
  background-position: 0 -94px;
}


.dmSelector li[class="open"] > i{
  background-position:0 -21px;
}
.dmSelector li[class="open"]:last-child > i{
  background-position:0 -40px;
}


.dmSelector li[class="closed"] > i{
  background-position:0 -127px;
}
.dmSelector li[class="closed"]:last-child > i{
  background-position:0 -147px;
}
.dmSelector > li[id="0"] + ul{
  background:none;
}