<extend name="Public:base" />
<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>test</title>
  <base href="/"></base>
  <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/Public/css/pms.css" rel="stylesheet">
  <block name="head"></block>
</head>
<body>
<div class="container">

<block name="content" >

<div class="page-header summary-title">
  人员信息总览
</div>

    <div class="row summary">
      <div class="col-sm-6 col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 summary-header">干部总数</div>
              <div class="col-md-12">{$summary['干部总数']}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 summary-header">高级低职</div>
              <div class="col-md-12">{$summary['高级别低职务']}</div>
            </div></div>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">虚职</div>
              <div class="col-md-12">{$summary['虚职']}</div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">正处级</div>
              <div class="col-md-12">{$summary['正处级']}</div>
            </div></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">副处级</div>
              <div class="col-md-12">{$summary['副处级']}</div>
            </div></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">副总级</div>
              <div class="col-md-12">{$summary['副总级']}</div>
            </div></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">正科级</div>
              <div class="col-md-12">{$summary['正科级']}</div>
            </div></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 summary-header">副科级</div>
              <div class="col-md-12">{$summary['副科级']}</div>
            </div></div>
        </div>
      </div>
    </div><!-- /summary row -->
  </div><!--/container-fluid-->
</block>

</div><!--/container-->
<script src="/ublic/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<block name="end">
  <script type="text/javascript">
  function initial(){
    $("#navbar li#people").addClass("active");
  }
</script>
</block>
</body> 
</html>