<extend name="Public:base" />
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PMS</title>
	<link href="/Public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/Public/css/pms.css" rel="stylesheet">
<block name="head">
<style>
	.summary{
		
		margin: auto;
		color:#5D5D5D;
		text-align: center !important;
	}
	.table{
	margin: 20px 0;
	}
	.table caption{
		text-align: center;
		font:3em "黑体";
		margin: 0 0 30px 60px;
	}
	.table thead{
		font-size:16px;
	}
	.table td{
	font-size:18px;
		padding:20px 0 !important;
	}
	.table th{
		text-align: center;
		vertical-align: middle !important;
	}
	.zero:after{
	content: "0";
	color:#D2D2D2;
	}
</style>
</block>
</head>
<body>
<div class="container">

<block name="content">

<div class="page-header summary-title">
    职称 - 级别 情况总览
</div>

<div class="table-responsive summary">
	<table class="table table-hover">
      <thead>
        <tr>
          <th>级别</th>
          <th>教授级</th>
          <th>副高级</th>
          <th>中级</th>
          <th>助理级</th>
          <th>员级</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">正处级</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=5&titleLevel=5&titleLevelB=eq">{$levelSummary['正处级']['教授级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=5&titleLevel=4&titleLevelB=eq">{$levelSummary['正处级']['副高级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=5&titleLevel=3&titleLevelB=eq">{$levelSummary['正处级']['中级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=5&titleLevel=2&titleLevelB=eq">{$levelSummary['正处级']['助理级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=5&titleLevel=1&titleLevelB=eq">{$levelSummary['正处级']['员级']}</a></td>
        </tr>

        <tr>
          <th scope="row">副处级</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=4&titleLevel=5&titleLevelB=eq">{$levelSummary['副处级']['教授级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=4&titleLevel=4&titleLevelB=eq">{$levelSummary['副处级']['副高级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=4&titleLevel=3&titleLevelB=eq">{$levelSummary['副处级']['中级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=4&titleLevel=2&titleLevelB=eq">{$levelSummary['副处级']['助理级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=4&titleLevel=1&titleLevelB=eq">{$levelSummary['副处级']['员级']}</a></td>
        </tr>

        <tr>
          <th scope="row">副总级</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=3&titleLevel=5&titleLevelB=eq">{$levelSummary['副总级']['教授级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=3&titleLevel=4&titleLevelB=eq">{$levelSummary['副总级']['副高级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=3&titleLevel=3&titleLevelB=eq">{$levelSummary['副总级']['中级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=3&titleLevel=2&titleLevelB=eq">{$levelSummary['副总级']['助理级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=3&titleLevel=1&titleLevelB=eq">{$levelSummary['副总级']['员级']}</a></td>
        </tr>

        <tr>
          <th scope="row">正科级</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=2&titleLevel=5&titleLevelB=eq">{$levelSummary['正科级']['教授级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=2&titleLevel=4&titleLevelB=eq">{$levelSummary['正科级']['副高级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=2&titleLevel=3&titleLevelB=eq">{$levelSummary['正科级']['中级']}</a></a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=2&titleLevel=2&titleLevelB=eq">{$levelSummary['正科级']['助理级']}</a></td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=2&titleLevel=1&titleLevelB=eq">{$levelSummary['正科级']['员级']}</a></td>
        </tr>

        <tr>
          <th scope="row">副科级</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=1&titleLevel=5&titleLevelB=eq">{$levelSummary['副科级']['教授级']}</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=1&titleLevel=4&titleLevelB=eq">{$levelSummary['副科级']['副高级']}</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=1&titleLevel=3&titleLevelB=eq">{$levelSummary['副科级']['中级']}</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=1&titleLevel=2&titleLevelB=eq">{$levelSummary['副科级']['助理级']}</td>
          <td><a href="/index.php/search.html?postLevelB=eq&postLevel=1&titleLevel=1&titleLevelB=eq">{$levelSummary['副科级']['员级']}</td>
        </tr>
      </tbody>
    </table>
</div>
</block>
</div> <!-- /div container -->

</div><!--/container-->
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>

<block name="end">
<script>
  function initial(){
    $("#navbar li#title").addClass("active");
    $("td a:empty").addClass("zero");
  }
</script>
</block>
</body>	
</html>