<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PMS</title>
	<link href="/Public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/Public/css/pms.css" rel="stylesheet">
  <block name="head"></block>
</head>
<body>
<div class="loading" id="loading">
  <span class="m"></span>
</div>
<div class="container">
<!--顶部块 tp模版用-->
<div class="header" id="header">
  <!-- 顶部登录、用户状态框 -->
  <div class="top-status">
  <if condition="$user neq '' " >
    <div class="status-bar">
      <span class="logo"></span>
      {$user} : <a href="/index.php/User/index.html">控制面板</a> 
      <a href="/index.php/User/logout.html">退出登录</a>
    </div>
  </if>
  </div>
  <!-- 搜索框 -->
  <div class="top-search">
    <input class="form-control"type="text" placeholder="输入人员姓名、身份证号码或单位名" />
  </div>
  <!-- 导航栏 -->
	<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/">
              <span class="logo"></span>
              <span class="brand hidden-xs hidden-sm">PEOPLE MANAGE SYSTEM</span>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li id="people"><a href="/index.php/Index/people.html">人员信息总览<span class="sr-only">(current)</span></a></li>
              <li id="education"><a href="/index.php/Index/education.html">学历总览</a></li>
              <li id="title"><a href="/index.php/Index/title.html">职称总览</a></li>
              <li id="department"><a href="/index.php/Index/department.html">部门浏览</a></li>
              <li id="search"><a href="/index.php/search.html">高级查询</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>

<block name="content">
</block>
<!--底部块-->

<div class="footer">
  <div class="footer-bar">
    <span class="logo"></span><span class="hidden-xs">The PEOPLE MANAGE SYSTEM by KinGzd.</span>
  </div>
</div>

</div><!--/container-->
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script>
var loaded = {};
  $("document").ready(function(){
    $("#loading").hide();
    initial();    
 });
function L(op){
  var hide = true,i;
  $('#loading').show();
  
  if(typeof(loaded[op]) == "undefined"){
    loaded[op] = false;
  }else{
    loaded[op] = loaded[op] ? false : true;
  }

  $.each(loaded,function(i,v){
    if(loaded[i] == false) hide = false;
    // console.log(i);
  });

  // console.log(loaded);
  // console.log('hide:'+hide);
  if(hide) $('#loading').hide();
}
</script>
<block name="end">

</block>
</body>	
</html>